@import './variables.css';
@import './iconfonts.css';

/*@lost flexbox flex;*/

/*Estilos de nuestro carrusel CSS Scroll Snap*/
.u-scrollContainer {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 20px;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
  font-size: 0;

  &-itemContainer {
    border: 1px solid var(--border-freature);
    border-radius: 12px;
    width: 98%;
    margin: 1%;
    display: inline-block;
    line-heigth: 18px;
    font-size: 18px;
  }

  &-itemContent {
    display: flex;
    justify-content: center;

    & > img {
      width: auto;
      height: 300px;
    }
  }
}
/*.u-Grid {
  background: gray;
  lost-center: 800px;
  lost-utility: clearfix;

  &-column {
    background-color: blue;
    lost-column: 1/5;

    @media (--tablet) {
      lost-column: 1/3;
    }

    @media (--mobile) {
      lost-column: 1/1;
    }
  }
}*/
.u-wrapper {
  max-width: 800px;
  margin: auto;
  postion: relative;
}

.InvieHero {
  background: url('../images/background.png') var(--bg-header);
  background-size: cover;
  padding: 20px;
  height: 450px;
  color: white;
  margin-bottom: 50px;

  @media (--retina) {
    background-image: url('../images/background2x.png');
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-menu{
    font-size: 24px;
    display: flex;
    justify-content: space-around;    
  
    &-item a{
      margin-right: 40px;
      text-decoration: none;
      color: white;
      }
  }

  &-table{
    width: 100%;
  }

  &-logo {
    margin-left:  0;
    transition: all 0.3s ease-in;

    @media (--retina) {
    background-image: url('../images/invie2x.png');
  }
    &:hover {
      filter: blur(4px);
    }
  }

  &-copy {
    &-title {
      color: var(--bg-body);
      font-size: responsive 32px 70px; /*ruckstack calcula autimaticamente el tamaño de la fuente responsive con un valor minimo de 32 y maximo de 70 */
      font-family: 'Montserrat', sans-serif;
      font-size: 70px;
      margin-bottom: 0;
      margin-top: 40px;

      span{
        text-decoration: underline;
       }

      @media (--mobile) {
      color: red;
        }

      }

    &-subtitle{
      margin-top: 10px;
     }

    &-btn {
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
      }
  }

  }

.InvieGuitars{
  font-family: 'Allerta', sans-serif;
  margin: 0;

  &-video{
    display: flex;
    justify-content: center;
    /*margin: 20px 0 20px 0  ;*/
  }

  &-item{

    &-img{

      &-pro{
      margin-right: 60px;
        }

      &-acustica{
        @media (--retina) {
        background-image: url('../images/invie-acustica2x.png');
        }
        
        }

      &-classic{
        @media (--retina) {
        background-image: url('../images/invie-classic2x.png');
        }
      }

    }
  }

}

.InvieFooter {
  background-color: var(--bg-footer);
  color: white;
  padding: 50px 10px;
  margin-top: 50px;

  &-container{
    display: flex;
    justify-content: space-between;

  }

  &-contact{
    
  }

  &-logo{
    display: block;
    margin-bottom: 30px;
  }

  &-link{
    text-decoration: none;
    color: white;
  }

  &-form {

    &-column{
      
    }

    &-btn {
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
    }
  }
}